body {
    background-color: #4fc3f7;
    background-image: url(bg.jpg);
    background-size: cover;
}

#btn {
    background-color: rgba(0,0,0,0.5);
    padding: 13px 20px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

#btn:hover {
    background-color: rgba(0,0,0,0.25);
}

#btn-wrapper {
    text-align: center;
    margin-top: 15px;
}

#title {
    margin-top: 150px;
    text-align: center;
}

#title h1 {
    color: #fff;
}

#title span {
    color: #fff;
    opacity: .7;
}