<div id="nav">
    <ul>
        <li>
            <a href="http://docs.kissyui.com/">官网</a>
        </li>
        <li>
            <a href="{{ site.url }}/tutorial/">教程</a>
        </li>
        <li>
            <a href="{{ site.url }}/example/">示例</a>
        </li>
        <li>
            <a href="http://docs.kissyui.com/1.4/docs/html/api/">文档</a>
        </li>
        <li>
            <a href="{{ site.url }}/tool/">工具</a>
        </li>
        <li>
            <a href="http://gallery.kissyui.com/">组件</a>
        </li>
        <li>
            <a href="https://github.com/kissyteam/kissy">GitHub</a>
        </li>
    </ul>
</div>